HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


*#
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.gradle
.metadata
.recommenders
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
target
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache
/mvnw
/mvnw.cmd
/discovery-server/mvnw
/discovery-server/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties
/.mvn/wrapper/MavenWrapperDownloader.java
/discovery-server/.mvn/wrapper/maven-wrapper.properties
/discovery-server/.mvn/wrapper/MavenWrapperDownloader.java
/dataset-fetcher/mvnw
/dataset-fetcher/mvnw.cmd
/dataset-fetcher/.mvn/
/common/.mvn/
/common/mvnw
/common/mvnw.cmd
/opal-confirm-conversion-service/mvnw
/opal-confirm-conversion-service/mvnw.cmd
/opal-confirm-conversion-service/.mvn/
/quality-metrics-service/mvnw.cmd
/quality-metrics-service/mvnw
/quality-metrics-service/.mvn/
/triplestore-writer/mvnw
/triplestore-writer/mvnw.cmd
/triplestore-writer/.mvn/
/.env
/elasticsearch-writer/mvnw.cmd
/elasticsearch-writer/mvnw
/elasticsearch-writer/.mvn/
/webservices/mvnw
/webservices/mvnw.cmd
/webservices/.mvn/
/config-server/.mvn/
/config-server/mvnw
/config-server/mvnw.cmd
