<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/converter/data-cleaner-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/converter/data-cleaner-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <springProfile name="prod">
        <appender name="AMQP"
                  class="org.springframework.amqp.rabbit.logback.AmqpAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <mdc/>
                    <context/>
                    <logLevel/>
                    <loggerName/>
                    <pattern>
                        <pattern>
                            {
                            "appName": "data-cleaner-service"
                            }
                        </pattern>
                    </pattern>
                    <threadName/>
                    <message/>
                    <logstashMarkers/>
                    <stackTrace/>
                    <arguments/>
                </providers>
            </encoder>
            <host>${RABBITMQ_ADDRESS}</host>
            <port>${RABBITMQ_PORT}</port>
            <username>${RABBITMQ_USERNAME}</username>
            <password>${RABBITMQ_PASSWORD}</password>
            <applicationId>data-cleaner-service</applicationId>
            <routingKeyPattern>#</routingKeyPattern>
            <declareExchange>true</declareExchange>
            <exchangeType>direct</exchangeType>
            <exchangeName>ex_logstash</exchangeName>
            <generateId>true</generateId>
            <charset>UTF-8</charset>
            <durable>true</durable>
            <deliveryMode>PERSISTENT</deliveryMode>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="!prod"> <appender-ref ref="FILE"/> </springProfile>
        <springProfile name="prod"><appender-ref ref="AMQP"/></springProfile>
    </root>

    <logger name="org.apache.jena.riot" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="!prod"> <appender-ref ref="FILE"/> </springProfile>
        <springProfile name="prod"><appender-ref ref="AMQP"/></springProfile>
    </logger>
    <logger name="org.apache.jena.sparql" additivity="false" level="ERROR">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="!prod"> <appender-ref ref="FILE"/> </springProfile>
        <springProfile name="prod"><appender-ref ref="AMQP"/></springProfile>
    </logger>

</configuration>